* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000803, #01360d);
  overflow: hidden;
}

.typing-text {
  position: relative;
  z-index: 1;
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke: 2px black;
  text-shadow: -10px -10px 0 black;
  background-image: url("../public/images/images.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  animation: textAnimate 10s linear infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid #00ffcc;
  animation: blinkCursor 0.7s steps(1) infinite, textAnimate 10s linear infinite;
}

@keyframes textAnimate {
  to {
    background-position-x: -200px;
  }
}

@keyframes blinkCursor {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #00ffcc;
  }
}

.container {
  position: absolute;
  top: 20%;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.circle {
  position: absolute;
  background: transparent;
  width: calc(var(--i) * 5vmin);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgb(0, 255, 13);
  transform-style: preserve-3d;
  transform: rotateX(70deg) translateZ(50px);
  animation: circleMove 4s ease-in-out calc(var(--i) * 0.08s) infinite;
  box-shadow: 0 0 15px rgb(124, 124, 124), inset 0 0 15px rgb(124, 124, 124);
}

@keyframes circleMove {
  0%, 100% {
    transform: rotateX(70deg) translateZ(50px) translateY(0);
    filter: hue-rotate(0);
  }
  50% {
    transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
    filter: hue-rotate(360deg);
  }
}

#preloader {
  position: fixed;
  font-size: 30px;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-text {
  font-size: 2rem;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}
